.author-posts {
    display        : flex;
    justify-content: flex-start;
    align-items    : flex-start;
    flex-wrap      : wrap;

    .post-card {
        flex          : 0 0 23.5%;
        display       : flex;
        flex-direction: column;
        box-shadow    : $box-shadow;
        border-radius : 10px;
        margin-bottom : 15px;

        @include for-phone-only {
            flex: 0 0 100%;
        }

        .card-img-wrap {
            display: flex;
        }

        .post-card-information {
            height        : 100%;
            display       : flex;
            flex-direction: column;
        }

        img {
            width     : 100%;
            height    : 180px;
            object-fit: contain;
        }

        &__cats {
            font-size: 12px;
            color    : $mid-grey;

            span {
                margin-right: 5px;
            }
        }

        &__title {
            font-weight    : bold;
            font-size      : 20px;
            text-decoration: none;
            line-height    : 22px;
            margin-bottom  : 10px;
        }

        &__excerpt {
            font-size  : 14px;
            font-weight: 300;

            p {
                margin: 0;
                margin-bottom: 10px;
            }
        }

        &__more {
            margin-top: auto;
        }

    }

    .post-card:not(:last-child) {
        margin-right: 15px;
    }
}