.author-box {
    margin         : 80px auto 20px;
    display        : flex;
    justify-content: center;

    .inner-author-box {
        box-shadow    : $box-shadow;
        position      : relative;
        padding       : 50px 20px 20px;
        border-radius : 5px;
        width         : 70%;
        margin        : 0 auto;
        display       : flex;
        flex-direction: column;

        @include for-phone-only {
            width      : 100%;
            padding-top: 70px;
        }

        .author-img {
            width        : 120px;
            height       : 120px;
            object-fit   : contain;
            border-radius: 50%;
            position     : absolute;
            left         : 50%;
            top          : 0;
            transform    : translate(-50%, -50%);
        }

        .author-information {
            font-weight: 300;
            font-size  : 14px;
        }

        .author-socials {
            display        : flex;
            align-items    : center;

            .social-icons {
                margin-right: auto;
            }
        }

        .author-page {
            font-size  : 14px;
            font-weight: 300;
        }

        i {
            font-size: 20px;
        }

        a:not(:last-child) {
            margin-right: 5px;
        }
    }

}