blockquote {
    background : lighten($color: $secondary-color, $amount: 42%);
    border-left: 10px solid $secondary-color;
    margin     : 20px 10px;
    padding    : 30px;
    border-radius: 0 5px 5px 0;
}

blockquote:before {
    color         : $dark-grey;
    font-size     : 4em;
    line-height   : 0.1em;
    margin-right  : 0.25em;
    vertical-align: -0.4em;
}

blockquote p {
    display: inline;
    color:$dark-grey;
}