// -----------------------------------------------------------------------------
// This file contains all styles related to the button component.
// -----------------------------------------------------------------------------

.btn {
    border       : none;
    padding      : 10px;
    background   : $secondary-color;
    border-radius: 5px;
    outline      : none;
    color        : $white;

    a {
        color          : $white;
        text-decoration: none;
    }


    &:hover {
        background-color: $secondary-color;
        cursor          : pointer;
    }

    &:hover a {
        text-decoration: underline;
    }

    &:disabled {
        background-color: $light-grey;
        color           : $dark-grey;
    }
}