.fa-globe:hover {
        cursor          : pointer;
        color           : #ffcccb;
}


.wpml-ls-legacy-dropdown {
    display             : none;
    text-decoration     : none;
    padding-top         : 8px;
    
        a{
         border-radius  : 10px;
         padding        : 10px;
         width          : 180px;
         margin         : 2px 0 !important;

         &:hover{
         color          : #f33b38; 
        }

   }

   .wpml-ls-sub-menu{
        border-top      : none;       
   }

}


