.site-main ul {
    list-style-type: none;
    padding-left   : 20px;
    margin         : 20px 0;

    li {
        font-weight: 300;
    }

    li:before {
        content     : '✔';
        border-radius: 100%;
        border: 1.85px solid red;
        border-style: outset;
        color       : $secondary-color;
        font-size   : 13px;
        margin-right: 5px;
        padding: 0 2px;
    }
    @media (max-width: 599px) {
        li:before {
            content     : '✔';
            border-radius: 100%;
            border: 0.5px solid red;
            border-style: outset;
            color       : $secondary-color;
            font-size   : 8px !important;
            margin-right: 5px !important;
            padding: 2px 2px !important;
        }
    }
}

.site-main ol {
    padding-left   : 20px;
    margin         : 20px 0;
    list-style-type: none;
    counter-reset  : steps;

    li {
        counter-increment: steps;
        font-weight      : 300;
    }

    li:before {
        content      : counter(steps);
        margin-right : 5px;
        background   : $secondary-color;
        color        : $white;
        width        : 22px;
        height       : 22px;
        border-radius: 50%;
        display      : inline-grid;
        place-items  : center;
        line-height  : 21px;
        font-size    : 14px;
    }
}