.toplist-updated {
    display        : flex;
    justify-content: center;
    font-size: 14px;
    margin-top: 20px;

    .toplist-date {
        margin-left: 5px;
        font-weight: bold;
    }
}

.toplist-categories {
    display        : flex;
    justify-content: center;
    margin-top     : 20px;

    @include for-phone-only {
        flex-direction: column;
    }

    .single-cat {
        display         : flex;
        align-items     : center;
        box-shadow      : $box-shadow;
        padding         : 10px 20px;
        border-radius   : 10px;
        background-color: $light-grey;

        &:not(:last-child) {
            margin-right: 20px;

            @include for-phone-only {
                margin-right : 0;
                margin-bottom: 20px;
            }
        }

        .tax-img {
            width       : 22px;
            margin-right: 10px;
        }
    }

    span {
        text-transform: uppercase;
        font-size     : 14px;
        font-weight   : bold;

        &:hover {
            cursor: pointer;
            color : $secondary-color;
        }
    }
}

#loader {
    display        : flex;
    justify-content: center;
    margin         : 50px 0;

    img {
        max-width: 120px;
    }
}