// -----------------------------------------------------------------------------
// This file contains CSS helper classes.
// -----------------------------------------------------------------------------

/**
 * Clear inner floats
 */
.clearfix::after {
  clear  : both;
  content: "";
  display: table;
}

/**
 * Main content containers
 * 1. Make the container full-width with a maximum width
 * 2. Center it in the viewport
 * 3. Leave some space on the edges, especially valuable on small screens
 */
.container {
  max-width    : $max-width;
  /* 1 */
  margin-left  : auto;
  /* 2 */
  margin-right : auto;
  /* 2 */
  padding-left : 20px;
  /* 3 */
  padding-right: 20px;
  /* 3 */
  width        : 100%;
  /* 1 */
}

.overflow-hidden {
  overflow: hidden;
}

//Different padding classes
.px-20 {
  padding-left : 20px;
  padding-right: 20px;
}

.px-10 {
  padding-left : 10px;
  padding-right: 10px;
}

.py-20 {
  padding-top   : 20px;
  padding-bottom: 20px;
}

.py-10 {
  padding-top   : 10px;
  padding-bottom: 10px;
}

.p-20 {
  padding: 20px;
}

.p-10 {
  padding: 10px;
}

//Different margin classes

.mx-20 {
  margin-left : 20px;
  margin-right: 20px;
}

.mx-10 {
  margin-left : 10px;
  margin-right: 10px;
}

.my-20 {
  margin-top   : 20px;
  margin-bottom: 20px;
}

.my-10 {
  margin-top   : 10px;
  margin-bottom: 10px;
}

.m-20 {
  margin: 20px;
}

.m-10 {
  margin: 10px;
}
