// -----------------------------------------------------------------------------
// This file contains all application-wide Sass variables.
// -----------------------------------------------------------------------------

/// Regular font family
/// @type List
$text-font-stack: "Roboto",
sans-serif !default;

/// Copy text color
/// @type Color
$text-color: rgb(34, 34, 34) !default;

/// Main brand colors
/// @type Color

$main-color : #1A2C3D;

$secondary-color : #D63B54 !default;

$box-color:#15232f;

$cta-green: #59be28;

$star-gold: #ffd700;

//Navigation colors
$nav-background-color : #f1f6fc !default;
$nav-text-color       : $text-color !default;

//Casino review page block background
$casino-block-bg: #efefef;

//Header box blocks background


//Box Shadow
$box-shadow : 0 1px 8px 0 rgba(0, 0, 0, .1);

/// White
/// @type Colors
$white: rgb(255, 255, 255) !default;

/// Light grey
/// @type Color
$light-grey: rgb(237, 237, 237) !default;

/// Medium grey
/// @type Color
$mid-grey: rgb(153, 153, 153) !default;

/// Dark grey
/// @type Color
$dark-grey: rgb(68, 68, 68) !default;


/// Container's maximum width
/// @type Length
$max-width: 1200px !default;

/// Wrapper maximum width
/// @type Length
$wrapper: 1220px !default;

$sidenav: 250px !default;

/// Breakpoints map
/// @prop {String} keys - Keys are identifiers mapped to a given length
/// @prop {Map} values - Values are actual breakpoints expressed in pixels
$breakpoints: ("small": 320px,
  "medium": 768px,
  "large": 1024px,
) !default;