/* -----Sitemap Design------*/
.sitemap-body {
    background-color: #ebebeb;
		margin-bottom:0;
    padding: 30px;
    font-size: 30px;
}

.body-row{
    display: block;
    padding: 60px;
	   margin-bottom: 1em;
    background:#202a5b;
    color: #007cba;
    box-shadow: 1px 1px 5px #000;
}

.body-row ul{
-moz-column-count: 4;
-moz-column-gap: 20px;
-webkit-column-count: 4;
-webkit-column-gap: 20px;
column-count: 4;
column-gap: 30px;
}

.body-row ul li{
	list-style-type: disc;
}

.body-row ul li a{
    color: white;
    font-size: 15px;
}

.body-row ul li a:hover{
	text-decoration:underline;
}

.sitemap-h1{
	text-align: center;
	color:	#202a5b;
	}

.sitemap-title{
    text-align:center;
    display: block;
    justify-content: flex-start;

}

/* -- Mobile Sitemap --*/
@media (max-width:560px) {
	
.sitemap-body {
		padding: 10px;
}

	
.body-row{
	padding: 40px;	
}	

.body-row ul{
		-moz-column-count: 2;
-moz-column-gap: 20px;
-webkit-column-count: 2;
-webkit-column-gap: 20px;
column-count: 1;
column-gap: 50px;
}

.body-row ul li{
	list-style-type: disc;
	margin-bottom: 0.5em;
}
.body-row ul li a{
    font-size: 15px;
}
	
	
}

.casino-slots-name a {
	color:#333;
}